---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Hugo Bouchez" description="About Hugo Bouchez">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
    title="About"
    tagline="Thanks for stopping by. Read below to learn more about myself and my background."
> 

</Hero>

			<section>
				<h2 class="section-title">Professional Experience</h2>
				<div class="content">

					<p>2024: <strong>Intys</strong>: Data analyst consultant.</p>

					<p>2022 – 2023: <strong>Abakus-It-Solutions</strong>: Internship as Data Analyst to find a BI solution for the company.</p>
					
					<p>2021 – 2023: <strong>Esn Ulg</strong>: Organization of events and meetings for Erasmus students in Liège & responsible for United Esn Liège.</p>
					
					<p>2019 – 2023: <strong>University of Liège</strong>: Student instructor in statistics and mathematics from September 2019.</p>
					
					<p>2019-2020: <strong>Illucity</strong>: Event organizer and virtual reality booth manager.</p>
					
					<p>2019: <strong>Pepperminds</strong>: "Face 2 Face" for WWF & Child Focus.</p>
					
					<p>2019: <strong>Mega</strong>: Customer Relations Manager by phone.</p>
					
					<p>2016 – 2018: <strong>Ocarina</strong>: Certified Animator, organizer of events for young people in Liège.</p>
					
					<p>2015: <strong>L'Ōkami</strong>: Head of pre-sales and bar organizer for the "Ōkami" project.</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						2023: <strong>HEC Management School of Liège:</strong> Master Degree in Management, Curriculums: <em>International Strategic Marketing</em> <br>
					</p>
					
					<p>
						2023: Advanced Excel TOSA Certification (854/1000)
					</p>
					
					<p>
						2022: SAS Certificate of completion <em>SAS Programming 1</em> (671/1000)
					</p>
					
					<p>
						2022: SAS Certificate of completion <em>Predictive Modeler Using SAS Enterprise Miner 14</em> (650/1000)
					</p>
					
					<p>
						2021: <strong>HEC Management School of Liège: </strong> Bachelor in Economics and Management <br>
					</p>
					
					<p>
						2018: <strong>Saint Barthelemy (Liège):</strong> Secondary school: Option Economics & languages<br> 
					</p>
					

						
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Languages</h2>
				<div class="content">
					<p><strong>French:</strong> Mother tongue</p>
					
					<p><strong>English:</strong> Professional conversation (B2+/C1)</p>
					
					<p><strong>Spanish:</strong> Casual conversation (B2)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><strong>Office package and others:</strong> Word, Excel, PowerPoint</p>
					
					<p><strong>Programming Languages:</strong> SAS Studio base programming, SQL, R & Python</p>
					
					<p><strong>Data Analytics software (BI tools):</strong> QlikSense & Tableau</p>
					
					<p><strong>Business management software (ERP tools):</strong> Odoo, SAP</p>
					
					<p><strong>Soft skills:</strong> Strong sense of duty and discipline of work; Analytical and logical mindset; Attentive to details; Openness to Public Relation acquaintance,</p>
					<p>Easy contact with people; Ability to listen and dialogue; Adaptability in new contexts; Organised, Accountable and Responsible</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Hobbies and Interests</h2>
				<div class="content">
					<p>Organizing Activities for children as certified animator</p>
					
					<p>Guitar</p>
					
					<p>Tennis</p>
				</div>
			</section>
		<!--
			<section class="text-section">
				<div class="content">
					<h2 class="section-title">About me and Intys</h2>
				   
				</div>
			</section>
			
			<section class="text-section">
				<div class="content">
					<h2 class="section-title">Performance</h2>
					<ul class="content">
						<li>My academic background in Management with a specialization in Strategic Marketing, coupled with advanced certifications in Excel and SAS, has led to significant achievements. My internship at Abakus-It-Solutions focused on BI solutions, demonstrating my ability to manage complex projects for quality outcomes.</li>
					</ul>
				<br>
					<h2 class="section-title">Responsibility</h2>
					<ul class="content">
						<li>Having led the Treasury team and ESN United at Liège University, I demonstrated my accountability and leadership. Additionally, teaching mathematics and statistics throughout my HEC studies underscored my sense of responsibility and commitment..</li>
					</ul>
				<br>
					<h2 class="section-title">Courage</h2>
					<ul class="content">
						<li>Choosing to specialize in data analytics, apart from my primary field of study, demonstrates my adventurous spirit and enthusiasm for exploring new horizons. This decision led me to pursue advanced certifications and continuous learning in data analytics, showcasing my commitment to stepping beyond comfort zones and embracing challenging domains.</li>
					</ul>
				<br>
					<h2 class="section-title">Self-Accomplishment</h2>
					<ul class="content">
						<li>My pursuit of advanced certifications and involvement in projects beyond my academic scope showcases my strong commitment to personal development and continual advancement. I strongly believe that this ongoing dedication to self-improvement significantly enhances my skill set, ultimately benefiting the organization through increased adaptability and proficiency.</li>
					</ul>
				
					<p>
					<br>
					<br>
						My technical expertise in programming and BI, coupled with robust interpersonal skills, align seamlessly with Intys' values of excellence, responsibility, and innovation. I am confident that my contribution will further reinforce a culture of progress and excellence within the Intys Data team.
					</p>
				</div>
			</section>
		-->
			
			
			
			
		</main>


	



		
		<style>
			/* Style pour la section textuelle */
			.text-section {
				max-width: 800px;
				margin: 0 auto;
				text-align: left;
			}
		
			/* Style pour la liste numérotée */
			.application-list {
				list-style-type: none;
				padding-left: 0;
				margin-left: 400px; /* Décalage vers la droite */
			}
		
			/* Style pour chaque élément de liste numérotée */
			.application-list li {
				margin-bottom: 15px;
				line-height: 1.6;
				text-align: left;
			}
		
			/* Style pour le titre */
			.section-title {
				text-align: center;
				font-size: 24px;
				margin-bottom: 20px;
			}
		
			/* Style pour les numéros */
			.list-number {
				font-weight: bold;
				margin-right: 5px;
			}
			.text-section .section-title {
    font-size: 24px; /* Taille par défaut pour les titres de section */
}

.text-section h2.section-title {
    font-size: 40px; /* Taille plus grande pour le titre "About Me and Methis" */
    /* Autres styles si nécessaire */
}


		</style>
		
		
		
		
		
		
		
		
		
		
		
		
		


		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
