---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Analytical-minded</h2>
		<p>Analytic-minded for insightful data interpretation and informed decision-making.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Management & marketing</h2>
		<p>Strategically skilled in management and marketing, combining analytics for impactful strategies.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>IT Skills</h2>
		<p>Proficient in advanced data analytics utilizing QlikSense, Tableau, Microsoft Office, and Odoo. Skilled in SAS, SQL, with additional knowledge in R, SAP, and Python.</p>
	</div>
</section>

<section class="box data-section">
    <div class="stack gap-2 lg:gap-4">
        <h5>Strong Data Analysis Background</h5>
        <p>
            Master's in Management, specializing in International Strategic Marketing, HEC Management School of Liège.
            Advanced certifications in SAS Programming and Excel, enhancing data analysis skills.
        </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <h5>Practical Experience Centered Around Data</h5>
        <p>Data Analyst Intern at Abakus-It-Solutions, focusing on BI solutions for the company.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <h5>In-depth Technical Expertise</h5>
        <p>
            Utilization of BI tools such as QlikSense, Tableau, as well as ERPs like Odoo and SAP for advanced analytics.
            Basic knowledge of SQL, R, and Python languages for data analysis and processing.
        </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <h5>Future Focus on Data Analysis</h5>
        <p>
            Passion for integrating artificial intelligence into data analysis and marketing.
            Vision centered on strategically using data to optimize marketing strategies.
        </p>
    </div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
